header {
    background: maroon;
    color: burlywood;
    line-height: 200%;
    font-size: 150%;
    text-align: center;
}

body {
    background: #cee672;
    line-height: 150%;
    margin: auto;
    width: 800px;
    min-height: 100%;
}

html {
    background: lightblue;
    height: 100%;
}

div {
    margin: 5px;
}

#ddlist {
    float: left;
}

.appl {
    line-height: 200%;
    font-size: 200%;
    color: white;
    margin: 5px;
}

button {
    font-family: 'Shadows Into Light', cursive;
}
